body {
  font-family: "Poppins",
 sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 0px;

}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container img {
  max-width: 50px;
}

.heading_container h2 {
  font-weight: bold;
}

/*header*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 88%;
  background-image: url(../images/hero-bg2.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  height: auto;
  background: none;
}

.sub_page .hero_area::before {
  width: 225px;
  height: 110px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #78B8C6;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 65px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option .form-inline {
  position: relative;
  margin-right: 15px;
}

.User_option .form-inline input {
  display: none;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 19px;
}

.menu_btn-style {
  position: fixed;
  right: 29px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 22px;
  margin-left: auto;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(10, 32, 80, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .detail-box {
  margin: 45px 5% 0 5%;
  padding-bottom: 45px;

}

.slider_section .detail-box h1 {
  font-weight: bold;
  color: #010001;
  font-size: 3rem;
  padding-bottom: 15px;
  position: relative;
}

.slider_section .detail-box h1 span {
  color: #78B8C6;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -5px 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  width: 165px;
  text-align: center;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #A6A6A6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #A6A6A6;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #A6A6A6;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #78B8C6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #78B8C6;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #78B8C6;
}

.slider_section .img-box img {
  max-width: 100%;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #78B8C6;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.slider_section .li_before::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 3.5px;
  width: 1.5px;
  height: 17px;
  background-color: #78B8C6;
  border-radius: 19px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.about_section .detail-box {
  text-align: center;
  width: 80%;
  margin: auto;
}

.about_section .detail-box .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about_section .detail-box .heading_container h2 {
  color: #151515;
}

.about_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.about_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.about_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #78B8C6;
  text-transform: uppercase;
}

.about_section .detail-box .btn-box a img {
  margin-left: 5px;
}

.animal_section {
  background-image: url(../images/dog-azulin.jpeg);
  background-size:contain;
  color: black;
  background-repeat: no-repeat;
  background-color:  #A6A6A6;
}

.animal_section .animal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animal_section .animal_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px 2.5%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.animal_section .animal_container .box .img-box {
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.animal_section .animal_container .box .img-box img {
  width: 100%;
}

.animal_section .animal_container .box .detail-box {
  margin-top: 15px;
}

.animal_section .animal_container .box .detail-box h5 {
  font-weight: bold;
}

.animal_section .animal_container .box.b1 {
  -webkit-animation: odd-box-animate 3s infinite;
          animation: odd-box-animate 3s infinite;
}

.animal_section .animal_container .box.b2 {
  -webkit-animation: even-box-animate 3s infinite;
          animation: even-box-animate 3s infinite;
}

@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.pet_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pet_section .img-box {
  position: relative;
  padding-right: 45px;
}

.pet_section .img-box img {
  width: 146%;
  position: relative;
  z-index: 2;
}

.pet_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -145px;
  width: 100%;
  height: 110%;
  background-image: url(../images/pet-bg.png);
  z-index: 1;
  background-repeat: no-repeat;
}

.pet_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.pet_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.pet_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #78B8C6;
  text-transform: uppercase;
}

.pet_section .detail-box .btn-box a img {
  margin-left: 5px;
}

.us_section .us_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.us_section .us_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.us_section .us_container .box img {
  max-width: 100%;
}

.us_section .us_container .box .img1-box {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.us_section .us_container .box .img2-box {
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.us_section .us_container .box .detail-box {
  margin-top: 15px;
}

.us_section .us_container .box .detail-box h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0e0e0e;
}

.food_section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #A6A6A6), color-stop(60%, transparent));
  background: linear-gradient(to bottom, #A6A6A6 60%, transparent 60%);
}

.food_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.food_section .food_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.food_section .food_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px 20px 0 20px;
}

.food_section .food_container .box .img-box img {
  max-width: 100%;
}

.food_section .food_container .box .detail-box {
  margin-top: 15px;
}

.food_section .food_container .box .detail-box h6 {
  color: #78B8C6;
  text-transform: uppercase;
}

.food_section .food_container .box .detail-box h3 {
  font-weight: bold;
  color: #78B8C6;
}

.food_section .food_container .box .detail-box h3 span {
  color: #A6A6A6;
}

.food_section .food_container .box .detail-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #A6A6A6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #A6A6A6;
  border-radius: 0;
  margin-top: 15px;
}

.food_section .food_container .box .detail-box a:hover {
  background-color: transparent;
  color: #A6A6A6;
}


/*tela cadastro*/

.contact_section {
  position: relative;
}

.contact_section .form_container {
  padding: 0 35px;
}

.contact_section form {
  margin-top: 45px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: #ebebeb;
  outline: none;
  color: #101010;
}

.contact_section input::-webkit-input-placeholder {
  color: #979696;
}

.contact_section input:-ms-input-placeholder {
  color: #979696;
}

.contact_section input::placeholder {
  color: #979696;
}

.contact_section input.cadastro-senha {
  height: 120px;
}

.contact_section button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #78B8C6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #78B8C6;
  border-radius: 0;
  color: #fff;
  margin-top: 35px;
}

.contact_section button:hover {
  background-color: transparent;
  color: #78B8C6;
}

.contact_section .map_container {
  height: 725px;
  border-radius: 100% 0 0 0;
  overflow: hidden;
  margin-left: 45px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}


/*Tela login*/
  
  .login_section input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: #ebebeb;
    outline: none;
    color: #101010;
  }
  
  .login_section input::placeholder {
    color: #979696;
  }
  
  .login_section input.login-senha {
    height: 120px;
  }
  
  .login_section button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #78B8C6;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #78B8C6;
    border-radius: 0;
    color: #fff;
    margin-top: 35px;
  }
  
  .login_section button:hover {
    background-color: transparent;
    color: #78B8C6;

  }
  /*o mapa esta bugando e mexi em tudo já .fran */
  .login_section .map_container {
    height: 725px;
    border-radius: 100% 0 0 0;
    overflow: hidden;
    margin-left: 45px;
  }
  
  .login_section .map_container .map-responsive {
    height: 100%;
    overflow: a;
  }

/*Selecione bichinho*/
.wide {
  
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 10px; /* Espaço entre os retângulos */
  background-color: #A6A6A6; /* Cinza claro */
  border-radius: 10px; /* Bordas arredondadas */
  width: calc(100% - 20px); /* Largura de 33.33% com espaço de 10px entre retângulos */
  text-align: center; /* Centralizar o conteúdo */
  vertical-align: top; /* Alinhar os retângulos superiormente */
}


/* Estilos para os retângulos de agendamento */

.agendamentoo
{
  font-family: "Poppins", sans-serif;
  color: #979696;
  background-color: #ffffff;
  padding: 3%;

}

#servicos{
  
  margin-top: 40%;
  padding: 3%;
}
.imagem-lateral {
  float: right;
  width: 500px;
}


li {
  
  border: 1px solid #ccc;  
  padding: 20px;
  margin: 10px 10px; /* Espaço entre os retângulos */
  background-color: #f5f5f5; /* Cinza claro */
  border-radius: 10px; /* Bordas arredondadas */
  width: calc(23.33% - 20px); /* Largura de 33.33% com espaço de 10px entre retângulos */
  text-align: center; /* Centralizar o conteúdo */
  display: inline-block; /* Para que eles fiquem lado a lado */
  vertical-align: top; /* Alinhar os retângulos superiormente */
  overflow: hidden; /* Ocultar texto que não se encaixa */
}


/* Estilos para o texto dentro dos retângulos */
li h2 {
  font-size: 18px; 
  margin: 0 2 10px; 
  font-weight: bold;
font-family: "poppins", sans-serif;

}

li p {
  font-size: 14px;
  line-height: 1.2; 
  max-height: 60px; 
  overflow: hidden;
}

li button{
  display: inline-block;
  padding: 10px 45px;
  background-color: #78B8C6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #78B8C6;
  border-radius: 0;
  color: #fff;
  margin-top: 35px;
}
.agendamentoo button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #78B8C6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #78B8C6;
  border-radius: 0;
  color: #fff;
  margin-top: 35px;
}

.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-right: auto;
}

.flag {
  margin-left: auto;
}

.modal-body input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: #ebebeb;
  outline: none;
  color: #101010;
}

.modal-body #flagCheckbox {
  margin-left: 10px;
}

.modal-body input::placeholder {
  color: #979696;
}

.modal-body image {
  float: left;
  margin-right: 20px; /* Ajuste conforme necessário */
  width: 100px; /* Ajuste a largura conforme necessário */
  height: auto; /* Para manter a proporção da imagem */

}

/*informações do final da tela*/

.info_section {
  background-color: #A6A6A6;
  color: #ffffff;
  padding: 40px 0 75px 0;
  font-family: "Open Sans",
 sans-serif;
}

.info_section .row > div {
  margin-top: 35px;
}

.info_section h5 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.info_time p {
  text-transform: uppercase;
}

.info_form input {
  width: 100%;
  border: none;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_form button {
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 45px;
  background-color: #78B8C6;
  color: #A6A6A6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #78B8C6;
  border-radius: 0;
}

.info_form button:hover {
  background-color: transparent;
  color: #78B8C6;
}

.info_social .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_social .social_container a {
  margin: 0 5px;
}

.info_social .social_container a img {
  width: 35px;
}

.info_contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.info_contact > div img {
  height: auto;
  margin-right: 12px;
}

.info_contact > div p {
  margin: 0;
}

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #78B8C6;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}


.card {
  display: flex;
  height: 600px;
  width: 600px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  background-image:	url(../images/matheus.jpeg) ;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  transition: 0.6s ease-out;
  background-color: black;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}


.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.linha{
	display:flex;
	flex-direction: row;
	max-width: 100%;	
	justify-content: center;
	overflow: hidden;
	height: 700px;
	align-items: center;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */